body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.term {
  width: 250px;
  background: linear-gradient(180deg, #cccccc 0%, #eeeeee 100%);
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  padding: 16px;
  font-size: 14px;
  line-height: 150%;
}
.term-list {
  display: flow-root;
}
h1 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 16px;
}
dt {
  font-weight: 700;
  color: #296897;
  margin-bottom: 4px;
}
dt,
dd:nth-child(2) {
  width: 142px;
}
.term-list:nth-child(2) {
  margin-bottom: 12px;
}
.term-list:nth-child(2) dt,
.term-list:nth-child(2) dd:nth-child(2) {
  float: right;
}
.term-list:last-child dt,
.term-list:last-child dd:nth-child(2) {
  float: left;
}
.term-list:last-child dd:last-child {
  text-align: right;
}
