@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 15px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 16px;
}
.term {
  width: 250px;
  background: linear-gradient(180deg, #cccccc 0%, #eeeeee 100%);
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  padding: 16px;
  font-size: 14px;
  line-height: 150%;
}
.term-list-items:first-child {
  margin-bottom: 12px;
}
.term-list-items {
  font-size: 14px;
  line-height: 150%;
}
dt {
  font-weight: 700;
  color: #296897;
  margin-bottom: 4px;
}
.term-list-text {
  float: right;
  width: 142px;
}
.term-list:last-child .term-list-text {
  float: left;
}
.term-list-img {
  float: left;
}
.term-list:last-child .term-list-img {
  float: right;
}
.term-list-img dt {
  display: none;
}
.term-list::after {
  content: "";
  display: block;
  clear: both;
}
.term-list:last-child {
  margin-top: 12px;
}
